[Unit]
Description=Run test-monitor.service every minute and at boot

[Timer]
OnBootSec=1min
OnCalendar=*:0/1
Persistent=true
Unit=test-monitor.service

[Install]
WantedBy=timers.target